body {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1158px;
  gap: 24px;
  margin: 24px auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: all ease-in 250ms;
}
.gallery-image:hover {
  width: 376px;
  height: 208px;
}

.modal-img {
  width: 1112px;
  height: 640px;
}
